{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Search Results</h1>
    </div>
    {% for search in searches %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...", height="", width=""/>
            <div class="card-body">
                <h5 class="card-title">{{ search.city }}, {{ search.state }}</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ search.beds }} bed</li>
                <li class="list-group-item">{{ search.baths }} bath</li>
                <li class="list-group-item">{{ search.sqft }} sqft</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Link to listing</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
