{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome to TerraSearch</h1>
    </div>
    <div class="container">
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'search:search-create' %}">Start a Search</a>
        {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
                <a id="sign-up-link"
                   class="btn-btn primary"
                   href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-primary" href="{% url 'account_login' %}">Sign In</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
